.Blog {
  background-color: #ffffff;
  border: 1px solid #dadadf;
  border-radius: 2px;
  margin-bottom: 16px;
  text-align: center;
}

.CardTitle {
  text-align: center;
  color: #dd7373;
  font-weight: 800;
}

.Blog figure,
h5 {
  margin: 0 0;
}

.Heart {
  color: #f9db6d;
}

.Heart:hover {
  color: #397367;
}

.HeartOutline:hover {
  color: #f9db6d;
}
